

@charset "UTF-8";
html{font-size:105%}
body{font:100%/1.5 'Open Sans',Arial,Verdana,Helvetica,sans-serif;padding:15px;margin:0;text-align:left}

body{
	background:#808080;
	color:#005883;
	font-family: "Angsana New";
     }


#contenido{
	float: left;
	width: 1085px;
	background: #FFFFFF;
	border-radius: 10px;
	overflow:  hidden;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.articulos{
	margin: 10px;
}

.articulos h2 {
	font-size: 40px;
	padding: 10px;
	color: #000000;
	border-bottom: 3px solid #F47920;
	font-family: Angsana New; 

}

.articulos img{
	 float: left;
	 margin: 10px;
}
.articulos p{
	margin-bottom: 5px;
	margin-top: 5px;
	font-family: Angsana New;

}
/* CSS para actividades */
.contenedor{
    width: 1080px;
    margin: auto;
    background: black;
    color: bisque;
    padding: 20px 15px 50px 50px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.8);
}

.contenedor .titulo{
    font-size: 3.5ex;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
}

#pestanas {
    float: top;
    font-size: 3ex;
    font-weight: bold;
}

#pestanas ul{
    margin-left: -40px;    
}

#pestanas li{
    list-style-type: none;
    float: left;
    text-align: center;
    margin: 0px 2px -2px -0px;
    background: darkgrey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 2px solid bisque;
    border-bottom: dimgray;
    padding: 0px 20px 0px 20px;
}

#pestanas a:link{
    text-decoration: none;
    color: bisque;
}

#contenidopestanas{
    clear: both;  
    background: dimgray;
    padding: 20px 0px 20px 20px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border: 2px solid bisque;
    width: 1025px;
}

/* CSS para galeria */

.fh5co-gallery {
  position: relative;
  margin-bottom: 7em;
  float: left;
  width: 100%;
}
.fh5co-gallery .gallery-item {
  width: 25%;
  position: relative;
  overflow: hidden;
  display: block;
  float: left;
  z-index: 110;
}
.fh5co-gallery .gallery-item img {
  position: relative;
  max-width: 100%;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}
@media screen and (max-width: 1200px) {
  .fh5co-gallery .gallery-item {
    width: 33.3333%;
  }
}
@media screen and (max-width: 768px) {
  .fh5co-gallery .gallery-item {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .fh5co-gallery .gallery-item {
    width: 100%;
  }
}
.fh5co-gallery .gallery-item .overlay {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 11;
  vertical-align: middle;
  padding-top: 30%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.fh5co-gallery .gallery-item .overlay h2, .fh5co-gallery .gallery-item .overlay span {
  position: relative;
  z-index: 12;
  margin-bottom: 0;
  text-align: center;
  display: block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.fh5co-gallery .gallery-item .overlay h2 {
  color: #fff;
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 10px;
  bottom: -15px;
}
@media screen and (max-width: 768px) {
  .fh5co-gallery .gallery-item .overlay h2 {
    font-size: 18px;
  }
}
.fh5co-gallery .gallery-item .overlay span {
  color: #7ac143;
  color: rgba(255, 255, 255, 0.7);
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  bottom: -5px;
  visibility: hidden;
  opacity: 0;
}
.fh5co-gallery .gallery-item .overlay:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
.fh5co-gallery .gallery-item:hover img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.fh5co-gallery .gallery-item:hover .overlay {
  visibility: visible;
  opacity: 1;
}
.fh5co-gallery .gallery-item:hover .overlay:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
.fh5co-gallery .gallery-item:hover .overlay h2 {
  bottom: 0px;
}
.fh5co-gallery .gallery-item:hover .overlay span {
  visibility: visible;
  opacity: 1;
  bottom: 0px;
}

body{
margin:0;
padding:0 10px 10px 10px;
font-family:arial,verdana,helvetica,sans-serif;
font-size:.8em
}


a{
text-decoration:none
}
a:hover,a:focus{
text-decoration:underline
}
img.submit,img.help,img.info,img.gallery{
border:0
}
li{
list-style-position:inside
}
#nodeDecoration{
padding:0.1em;border-bottom:0em;text-align:right
}
.block,.feedback{
display:block;padding-top:0.25em;padding-bottom:0.25em
}
.feedback{
font-family:times,serif;font-size:120%
}
.feedback-button p{
margin:0
}
.emphasis0{
padding-left:0;margin:0
}
.iDeviceTitle{
font-weight:bold;position:relative;top:-18px;
}
input.feedbackbutton{
margin-top:10px;margin-bottom:10px
}

@media print{
    .feedback{display:block!important}
    .feedback.iDevice_solution a{text-decoration:none;color:inherit}
    .iDevice_solution li span{display:none}    
    /*.feedbackbutton,.feedback-button{display:none!important}*/
    #main{margin-left:10px}
    div.node{page-break-after:always}
}

.iDevice a,#siteFooter a,#packageLicense a,.toggle-idevice a{
text-decoration:underline
}
.iDevice a:hover,#siteFooter a:hover,#packageLicense a:hover,.toggle-idevice a:hover{
text-decoration:none
}
.iDevice_content{
position:relative;max-width:100%
}
.exe-epub3 .iDevice_content{
position:static
}
.iDevice_header{
background-position:0 50%;background-repeat:no-repeat
}
.exe-dl{margin-bottom:2em;margin-left:1.5em}
.exe-dl dt{font-weight:bold}
.exe-dl dd{margin:1em 1.5em}
.js .exe-dl dt{margin:1.2em 0 0 0}
.exe-dl dt a{text-decoration:underline}
.exe-dl .icon,.exe-dl-toggler a{
display:block;width:20px;height:20px;font-size:1.2em;margin-right:1em;line-height:20px;text-align:center;float:left;border-radius:2px;position:relative
}
.exe-dl-toggler{height:20px;margin:1.5em}
.exe-dl-toggler a{margin-left:0;font-weight:bold}
.js .exe-dl dd{display:none;padding-left:0;margin:1em 1em 1em 37px}
.exe-figure{margin:2em 0;max-width:100%}
.position-center{margin:2em auto}
.position-right{margin:2em 0 2em auto}
.float-left{float:left;margin:.5em 1.5em 1em 0}
.float-right{float:right;margin:.5em 0 1em 2em}
.figcaption{padding-top:.2em}
.figcaption.header{padding-top:0;padding-bottom:.2em}
.exe-layout-2-cols,.exe-layout-3-cols{width:100%}
.exe-layout-2-cols .exe-col{float:left;width:49%}
.exe-layout-2-cols .exe-col-1{padding-right:1%}
.exe-layout-2-cols .exe-col-2{padding-left:1%}
.exe-layout-2-30-70 .exe-col{width:69%}
.exe-layout-2-30-70 .exe-col-1{width:29%}
.exe-layout-2-70-30 .exe-col{width:29%}
.exe-layout-2-70-30 .exe-col-1{width:69%}
.exe-layout-3-cols .exe-col{float:left;width:32%}
.exe-layout-3-cols .exe-col-1,.exe-layout-3-cols .exe-col-2{padding-right:2%}
.js a.exe-enlarge{position:relative;display:block}
.exe-enlarge-icon{display:none;width:30px;height:30px;position:absolute;top:50%;left:50%;margin:-15px 0 0 -15px;border-radius:15px;background:#333;z-index:10;box-shadow:0 0 7px 0 #DDD}
.exe-enlarge-icon b{width:30px;height:30px;line-height:30px;text-align:center;display:block;font-size:1.3em;color:#FFF}
.exe-enlarge-icon b:before{content:"+"}
.js a.exe-enlarge:hover img,.js a.exe-enlarge:focus img{opacity:0.7;filter:alpha(opacity=70)}
a.exe-enlarge:hover .exe-enlarge-icon,a.exe-enlarge:focus .exe-enlarge-icon{display:block;*display:none}/* IE6, IE7 */
.exe-clear{overflow:auto}
.toggle-idevice,.exe-hidden,.js-required,.js .js-hidden{display:none}
.js .js-required{display:block}
.js #main .iDevice_hint_title{font-size:1em;margin-top:0;font-weight:normal;*margin-top:1em}/* IE6, IE7 */
.iDevice_hint{margin-bottom:1.5em}
.iDevice_hint_title a{background-repeat:no-repeat;background-position:0 50%;padding-left:23px;text-decoration:none}
.iDevice_hint_content{padding:0 23px}
.iDevice_answers{margin-top:.5em}
.iDevice_answer{overflow:hidden;*margin:1.5em 0}/* IE6, IE7 */
.iDevice_answer p{margin-top:0}
.iDevice_answer-field{width:2.5em;float:left}
.js .iDevice_answer-content,.js .iDevice_answer-feedback{padding-left:2.5em}
.hidden-idevice .image_text{display:none} /* iDevice Toggler : Required for Magnifier */
#skipNav{margin:0;position:absolute;width:100%}
.sr-av,.js .js-sr-av,#skipNav a,.exe-hidden-accessible{position:absolute;overflow:hidden;clip:rect(0 0 0 0);clip:rect(0,0,0,0);height:0} /* sr-av: Avaible for Screen Readers. (0 0 0 0) is for IE6 & 7 */
#skipNav a{background:#333;color:#fff;padding:.4em .85em}
#skipNav a:active,#skipNav a:focus{position:static;overflow:visible;clip:auto;height:auto}
body .qtip {font-size:.85em;line-height:1.5em}
.js .exe-tooltip-text{display:none}
ol.auto-numbered{counter-reset:item}
.auto-numbered ol{counter-reset:item}
.auto-numbered li{display:block}
.auto-numbered li:before {content:counters(item,".") ".- ";counter-increment:item}
.exe-quote-cite cite{display:block;text-align:right;margin-top:-.5em}
.exe-link-data{font-size:.8em;margin:0 .2em}
.exe-link-data abbr{cursor:help}
.styled-qc{font-family:Georgia,serif;font-style:italic;margin:1.5em 2.5em;padding:0.25em 3.5em;position:relative}
.styled-qc:before{display:block;content:"\201C";font-size:5em;position:absolute;left:0;top:-20px}
@media all and (max-width: 780px) {
	.styled-qc{margin:1.5em .5em}
	.exe-layout-2-cols .exe-col,.exe-layout-3-cols .exe-col{float:none;width:100%;padding:0}   
}




