
 #perfil{
 	height: 50%;
 	background:#B3B3B3;
 	border-radius:1em; 

 }

 #sector1{
 	float: left;
 	height: 50%;
 	width: 46%;
 	background::#ffffff;
 	border-radius:1em; 
 	margin:1em;

 }

  #sector2{
 	float: right;
 	height: 50%;
 	width: 46%;
 	background::#ffffff;
 	border-radius:1em; 
 	margin:1em;
 }


#contenido{
	float: left;
	width: 500px;
	background: #F47920;
	border-radius: 10px;
	overflow:  hidden;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.articulos{
	width: 90%;
	height:30%;
	background: #ffffff;
	border-bottom: 2px solid #F47920;
	border-radius: 1em;
	margin:1em;

}

.articulos h2 {
	font-size: 40px;
	padding: 10px;
	color: #F47920;
	font-family: Angsana New; 

}

.articulos img{
	 float: left;
	 margin: 10px;
	 height: 80px;
	 width: 150px;
}
.articulos p{
	margin-bottom: 5px;
	margin-top: 5px;
	font-family: Angsana New;

}

footer{
	height: 40px;
	background: #005883;
	color: #FFFFFF;
	clear: both;

}

footer p{
	font-size: 15px;
	font-family: Angsana New;
	text-align: center;
	line-height: 30px;

}
